:root {
    --titleGap: 30px;
    --containerWidth: 510px;
    --imgHeight: 143px;
    --imgWidth: 94px;
}

html {
    display: flex;
    justify-content: center;
    font-size: 16px;
    font-family: "Arial", sans-serif;
    background-color: #c9b89c;
}

.banner {
    display: flex;  
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 20px;
    width: 415px;
    margin: 0px;
    justify-content: center;
}

.header {
    display: flex;
    width: fit-content;
    flex-direction: column;
}

footer {
    text-align: center;
    padding: 3px;
    background-color: DarkSalmon;
    color: white;
    display: block;
  }

#wizardle-link {
    position: absolute;

}

.titles {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: var(--titleGap);
    padding: 10px 0px 10px 0px;
    color: black;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

.titles span {
    width: 75px;
}

.guess-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.emoji-row {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    flex-shrink: 0;
    overflow: hidden;
    width: var(--containerWidth);
    -webkit-filter: drop-shadow(1px 1px 1px #222 );
    filter: drop-shadow(1px 1px 1px #222);
}

#emoji1,#emoji2,#emoji3,#emoji4,#emoji5,.emoji-img {
    height: var(--imgHeight);
    width: var(--imgWidth);
}

.emoji-container {
    display: flex;
    width: var(--containerWidth);
    justify-content: flex-end;
    align-items: center;
}

.guess-names {
    width: 0px;
    display: flex;
    position: relative;
    left: 20px;
    flex: 1;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    cursor: default;
}

/* Custom tooltip styling for spell names */
.guess-names {
    position: relative;
}

.guess-names:hover {
    color: #5a4a3a;
    text-decoration: underline;
}

/* Custom tooltip */
.guess-names .tooltip {
    visibility: hidden;
    position: absolute;
    z-index: 1000;
    background-color: #333;
    color: #fff;
    text-align: left;
    padding: 12px;
    border-radius: 6px;
    font-size: 21px;
    white-space: pre-line;
    left: calc(100% + 90px);
    top: 50%;
    transform: translateY(-50%);
    margin-left: 12px;
    opacity: 0;
    transition: opacity 0.3s;
    box-shadow: 0 3px 6px rgba(0,0,0,0.3);
    font-family: "Arial", sans-serif;
    line-height: 1.6;
    min-width: 225px;
}

.guess-names:hover .tooltip {
    visibility: visible;
    opacity: 1;
}

/* Tooltip arrow */
.guess-names .tooltip::before {
    content: "";
    position: absolute;
    right: 100%;
    top: 50%;
    transform: translateY(-50%);
    border: 7.5px solid transparent;
    border-right-color: #333;
}

.category-titles {
    display: flex;
    text-align: center;
    width: 400px;
    height: 36px;
    padding: 0px 20px;
    margin: 0px;
    color: rgb(0, 0, 0);
    /* background-color: rgb(0, 0, 0); */
}

.gamemode-selector {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 16px;
}

#gamemode-select {
    padding: 8px 12px;
    font-size: 16px;
    border: 2px solid #8b7355;
    border-radius: 5px;
    background-color: #f1f1f1;
    cursor: pointer;
    font-family: "Arial", sans-serif;
    text-align: center;
}

#gamemode-select:hover {
    background-color: #e0e0e0;
}

#gamemode-select:focus {
    outline: none;
    border-color: #6b5345;
}

#guess-input {
    border: 1px solid transparent;
    background-color: #f1f1f1;
    padding: 10px;
    font-size: 22px;
    border-radius: 3px;
}

ul {
    list-style: none;
}

.list {
    width: 290px;
    background-color: #ffffff;
    border-radius: 0 0 5px 5px;
    margin: 0;
    padding-left: 0;
}

.list-items {
    padding: 10px 5px;
}

.list-items:hover {
    background-color: #dddddd;
}